In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/donne_nettoyee.csv', encoding='latin1')

In [3]:
data

,id,name,category,subcategory,country,age,start_date,end_date,backers,state,goal_usd,pledged_usd
0,149450711,Abilities Rock,Art,Art,US,26,2015-11-17 19:37:50,2015-12-17 19:37:50,0,failed,10000.000000,0.000000
1,356418410,De'VIA Elders Reunion,Art,Art,US,26,2016-03-21 22:18:52,2016-04-23 04:00:00,15,failed,7500.000000,958.000000
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,28,2013-06-05 08:30:31,2013-07-05 08:30:31,0,failed,20000.000000,0.000000
3,477821027,The London Aesthetifest,Art,Art,US,27,2014-06-24 19:49:35,2014-07-15 04:05:00,15,failed,7800.000000,1000.000000
4,350951514,Hobo Nickels across the nation,Art,Art,US,22,2015-10-02 16:00:42,2015-11-01 16:00:42,6,failed,2621.000000,392.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
261352,54844339,Growing ManhattanÂs community hackerspace,Technology,Makerspaces,US,21,2013-04-05 17:37:20,2013-04-16 02:00:00,25,successful,1000.000000,1769.000000
261353,565306461,One small step for Africa ... Vehicles that ru...,Technology,Makerspaces,CA,28,2015-01-21 20:05:25,2015-02-20 20:05:25,56,successful,39332.497454,9316.894622
261354,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,27,2014-07-22 13:43:24,2014-08-31 05:15:00,6,failed,5000.000000,226.000000
261355,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,30,2014-10-27 16:27:02,2014-11-26 03:00:00,318,successful,20000.000000,23312.000000
261356,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,22,2016-01-11 23:13:36,2016-02-10 23:13:36,18,successful,1500.000000,1660.000000

In [4]:
data_encoded = pd.get_dummies(data, columns=['category', 'subcategory', 'country'], drop_first=True)

In [5]:
from sklearn.preprocessing import StandardScaler

# Normalisation des attributs numériques
scaler = StandardScaler()
numeric_columns = ['backers', 'goal_usd']
data_encoded[numeric_columns] = scaler.fit_transform(data_encoded[numeric_columns])

In [6]:
from sklearn.model_selection import train_test_split

X = data_encoded.drop(['id', 'name', 'state', 'start_date', 'end_date'], axis=1)
y = data_encoded['state']

# Découpage des données
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.4, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Initialisation du modèle kNN
knn_model = KNeighborsClassifier(n_neighbors=3)  # nombre de voisins souhaité

# Apprentissage sur l'ensemble d'apprentissage
knn_model.fit(X_train, y_train)

# Prédiction sur l'ensemble de validation
y_val_pred = knn_model.predict(X_val)

# Évaluation de la précision sur l'ensemble de validation
accuracy_val = accuracy_score(y_val, y_val_pred)
print(f"Précision sur l'ensemble de validation : {accuracy_val}")

Précision sur l'ensemble de validation : 0.8972470394673911