In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector as selector
from sklearn.compose import ColumnTransformer

In [2]:
data = pd.read_csv('../data/ks-projects.csv', encoding='latin1')

In [3]:
data

,id,name,category,subcategory,country,sex,age,start_date,end_date,currency,goal,pledged,backers,state
0,149450711,Abilities Rock,Art,Art,US,male,26,2015-11-17 19:37:50,2015-12-17 19:37:50,USD,10000.0,0.0,0,failed
1,356418410,De'VIA Elders Reunion,Art,Art,US,female,26,2016-03-21 22:18:52,2016-04-23 04:00:00,USD,7500.0,958.0,15,failed
2,412253775,Help C.B. Farr make a documentary about becomi...,Art,Art,US,female,28,2013-06-05 08:30:31,2013-07-05 08:30:31,USD,20000.0,0.0,0,failed
3,477821027,The London Aesthetifest,Art,Art,US,female,27,2014-06-24 19:49:35,2014-07-15 04:05:00,USD,7800.0,1000.0,15,failed
4,350951514,Hobo Nickels across the nation,Art,Art,US,male,22,2015-10-02 16:00:42,2015-11-01 16:00:42,USD,2621.0,392.0,6,failed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300622,285318317,MakerSpace: DEFEAT-Teaching to the test!,Technology,Makerspaces,US,male,27,2014-07-22 13:43:24,2014-08-31 05:15:00,USD,5000.0,226.0,6,failed
300623,503601672,Austin Tinkering School: the Expansion,Technology,Makerspaces,US,female,30,2014-10-27 16:27:02,2014-11-26 03:00:00,USD,20000.0,23312.0,318,successful
300624,565122152,Websmith Studio : Think; Build; Break; Play.,Technology,Makerspaces,US,female,22,2016-01-11 23:13:36,2016-02-10 23:13:36,USD,1500.0,1660.0,18,successful
300625,848305186,eTree; for all those who come to take shelter ...,Technology,Makerspaces,FR,female,35,2015-09-18 12:43:27,2015-11-17 12:43:27,EUR,300000.0,317.0,7,canceled
300626,815381283,MakerSpace: Teacher desperate to stop teachin...,Technology,Makerspaces,US,male,20,2014-07-18 04:47:43,2014-08-12 00:22:00,USD,1000.0,0.0,0,canceled

In [4]:
data_train, data_test = train_test_split(data, test_size=0.2, random_state=42)

In [5]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.dummy import DummyClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn import metrics

In [6]:
def valeur_manq(data):
    data_numeric = data.select_dtypes(include='number')
    data_numeric.replace(np.NaN, inplace=True)
    imp = SimpleImputer(missing_values=np.NaN, strategy='mean')
    data_imputed = pd.DataFrame(imp.fit_transform(data_numeric))
    return data_imputed

def valeur_manq(data):
    #data_T = data.drop('class',axis=1)
    data.replace(np.NaN, inplace=True)
    return data

In [7]:
adultrain = valeur_manq(data_train)

In [8]:
adultrain

                  0     1         2         3      4
0       669906166.0  28.0   10000.0  10017.00  129.0
1       523954481.0  30.0   30000.0      0.00    0.0
2       892071979.0  28.0    8000.0   1426.00   79.0
3       232278255.0  21.0    1100.0      1.03    1.0
4       658059076.0  31.0   15000.0   6410.00  202.0
...             ...   ...       ...       ...    ...
240496  861602002.0  41.0  750000.0     50.00    2.0
240497    1845385.0  35.0  100000.0     26.00    2.0
240498  479152963.0  24.0    2000.0   2420.00   48.0
240499  381424391.0  28.0   20000.0      0.00    0.0
240500  351272911.0  24.0    5000.0   1165.00   27.0

[240501 rows x 5 columns]

In [9]:
adultest = valeur_manq(data_test)

In [10]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()
X_adultrain = scaler.fit_transform(adultrain)
X_adultest = scaler.fit_transform(adultest)

In [11]:
y_train = data_train['state']
y_test = data_train['state']

In [12]:
def accuracy_score(lst_classif,lst_classif_names,X,y):
    for clf,name_clf in zip(lst_classif,lst_classif_names):
        scores = cross_val_score(clf, X, y, cv=5)
        print("Accuracy of "+name_clf+" classifier on cross-validation: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

In [13]:
dummycl = DummyClassifier(strategy="most_frequent")
gmb = GaussianNB()
dectree = tree.DecisionTreeClassifier()
rdforest = RandomForestClassifier()
logreg = LogisticRegression(solver="liblinear")
#svc = svm.SVC(gamma='scale')

lst_classif = [dummycl, gmb, dectree, rdforest, logreg]
lst_classif_names = ['Dummy', 'Naive Bayes', 'Decision tree', 'Random Forest', 'Logistic regression']


accuracy_score(lst_classif,lst_classif_names,X_adultrain,y_train)

Accuracy of Dummy classifier on cross-validation: 0.52 (+/- 0.00)
Accuracy of Naive Bayes classifier on cross-validation: 0.54 (+/- 0.00)
Accuracy of Decision tree classifier on cross-validation: 0.79 (+/- 0.00)
Accuracy of Random Forest classifier on cross-validation: 0.86 (+/- 0.00)
Accuracy of Logistic regression classifier on cross-validation: 0.73 (+/- 0.00)

In [14]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [15]:
numeric_features = ['id','age','goal','pledged','backers']
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(missing_values=np.NaN, strategy='mean')), ("scaler",  StandardScaler())]
)

In [16]:

categorical_features = ['name', 'category', 'subcategory', 'country', 'sex', 'currency', 'state']
categorical_transformer = Pipeline(
    steps=[('imputer2',SimpleImputer(missing_values=np.NaN, strategy='most_frequent')), ('ohe',OneHotEncoder(sparse=False,handle_unknown='ignore')) ]
)

In [17]:
numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())  # You can use any other preprocessing steps you need
])

# Define the categorical transformer for categorical features
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [18]:
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)